language: rust

dist: xenial

rust:
 - stable
 - beta
 - nightly

addons:
  apt:
    packages:
     - golang-go
     - libev-dev
     - uthash-dev

script:
 - [ $TRAVIS_RUST_VERSION = "nightly" ] && cargo fmt --all -- --check || true
 - cargo build --verbose --all
 - cargo test --verbose --all
 - cargo doc --no-deps
 - make -C examples

deploy:
  provider: pages
  fqdn: docs.quic.tech
  local-dir: target/doc
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  on:
    branch: master
    condition: $TRAVIS_RUST_VERSION = stable
